/* ============================================================
RESETS
============================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: #020024;
  background: linear-gradient(180deg, #020024 0%, #090979 80%);
  font-family: "Roboto", sans-serif;
  color: #f9f9f9;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

.header {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  margin-bottom: 1rem;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
}
@media (min-width: 576px) {
  .header__title {
    margin: 1rem auto 1.5rem;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .header__title {
    margin: 1rem auto 2rem;
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .header__title {
    margin: 1.5rem auto 3rem;
    font-size: 5rem;
  }
}
.header__menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
@media (min-width: 1024px) {
  .header__menu {
    flex-direction: row;
  }
}
.header__button {
  width: 25rem;
  height: 4.7rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: #f9f9f9;
  color: #090979;
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
  transition: 0.3s all;
}
@media (min-width: 576px) {
  .header__button {
    height: 5.45rem;
    padding: 1.25rem 1.75rem;
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .header__button {
    height: 6.8rem;
    padding: 1.75rem 2rem;
    font-size: 2rem;
  }
}
.header__button:hover {
  background-color: #dedefd;
  cursor: pointer;
}
.header__button:hover .header__level-selection {
  background-color: #dedefd;
  cursor: pointer;
}
.header__level-selection {
  margin-left: 1rem;
  border: none;
  padding: 0.25rem;
  border-bottom: 2px solid #090979;
  color: #090979;
  font-size: 1.5rem;
  font-family: inherit;
  transition: 0.3s all;
}
@media (min-width: 576px) {
  .header__level-selection {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .header__level-selection {
    font-size: 2rem;
  }
}

.question {
  font-family: inherit;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .question {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .question {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .question {
    font-size: 2.5rem;
  }
}
.question__colour {
  margin: 0 0.25rem;
  color: #a2a2f8;
  font-style: italic;
}

.attempts {
  font-family: inherit;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .attempts {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .attempts {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .attempts {
    font-size: 2.5rem;
  }
}
.attempts__number {
  margin: 0 0.25rem;
  color: #a2a2f8;
  font-style: italic;
}

.board {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 60px);
  justify-content: center;
}
@media (min-width: 576px) {
  .board {
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
  }
}
@media (min-width: 768px) {
  .board {
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}
@media (min-width: 1024px) {
  .board {
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4, 130px);
  }
}
.board__tile {
  display: block;
  padding: 1rem;
  width: auto;
  height: auto;
  background-color: #999;
  border-radius: 100%;
}
.board__tile:hover {
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal__box {
  width: 90%;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
@media (min-width: 576px) {
  .modal__box {
    width: 75%;
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .modal__box {
    width: 70%;
    padding: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .modal__box {
    width: 60%;
    padding: 3.25rem;
  }
}
.modal__heading, .modal__question {
  color: #111;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .modal__heading, .modal__question {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .modal__heading, .modal__question {
    margin-bottom: 2rem;
  }
}
.modal__heading {
  font-size: 1.75rem;
}
@media (min-width: 576px) {
  .modal__heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .modal__heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .modal__heading {
    font-size: 3rem;
  }
}
.modal__question {
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  .modal__question {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .modal__question {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .modal__question {
    font-size: 2.5rem;
  }
}
.modal__button {
  width: 30%;
  margin-top: 1rem;
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: #090979;
  color: #f9f9f9;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s all;
}
@media (min-width: 576px) {
  .modal__button {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .modal__button {
    font-size: 1.75rem;
    padding: 1rem 2rem;
  }
}
@media (min-width: 768px) {
  .modal__button {
    font-size: 2rem;
    padding: 1.25rem 2.5rem;
  }
}
.modal__button:not(:last-child) {
  margin-right: 4rem;
}
.modal__button:hover {
  background-color: #a2a2f8;
  color: #090979;
}
.modal__button--reset {
  background-color: #097909;
}
.modal__button--reset:hover {
  background-color: #a2f8a2;
  color: #097909;
}

/*# sourceMappingURL=styles.css.map */
