// ========================================
// FONT STACK
// ========================================
$font-primary: 'Roboto',
sans-serif;
$font-highlight: 'Permanent Marker',
cursive;

// ========================================
// COLOR VARIABLES
// ========================================
$colour-white: #f9f9f9;
$colour-gray: #999;

$colour-primary-dark: rgb(2, 0, 36);
$colour-primary:rgb(9, 9, 121);
$colour-primary-light: lighten($colour-primary, 55%);
$colour-primary-ultra-light: lighten($colour-primary, 67.5%);