// ========================================
// FONT STACK
// ========================================
$font-primary: 'Roboto',
sans-serif;
$font-highlight: 'Permanent Marker',
cursive;

// ========================================
// COLOR VARIABLES
// ========================================
$colour-white: #f9f9f9;
$colour-black: #111;
$colour-gray: #999;
$colour-overlay: rgba(0, 0, 0, 0.8);

$colour-primary-dark: rgb(2, 0, 36);
$colour-primary:rgb(9, 9, 121);
$colour-primary-light: lighten($colour-primary, 55%);
$colour-primary-ultra-light: lighten($colour-primary, 67.5%);

$colour-secondary: rgb(9, 121, 9);
$colour-secondary-light: lighten($colour-secondary, 55%);

// ========================================
// BREAK POINTS
// ========================================
$break-xs: 575px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1200px;