.board {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 60px);
  justify-content: center;

  @include mq('sm') {
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
  }

  @include mq('md') {
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
  }

  @include mq('lg') {
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4, 130px);
  }

  &__tile {
    display: block;
    padding: 1rem;
    width: auto;
    height: auto;
    background-color: $colour-gray;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}