.board {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;


  &__tile {
    display: block;
    width: 180px;
    height: 180px;
    background-color: $colour-gray;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}