.header {
  margin: 2rem auto 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $font-highlight;
    font-weight: 100;
    margin-bottom: 4rem;
  }

  &__menu {
    display: flex;
    margin-bottom: 4rem;
  }

  &__button {
    width: 25rem;
    margin: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 2rem 3rem;
    background-color: $colour-white;
    color: $colour-primary;
    font-size: 2rem;
    font-family: inherit;
    transition: 0.3s all;

    &:hover {
      background-color: $colour-primary-ultra-light;
      cursor: pointer;
    }

    &:hover .header__level-selection {
      background-color: $colour-primary-ultra-light;
      cursor: pointer;
    }
  }

  &__level-selection {
    margin-left: 1rem;
    border: none;
    padding: 1rem;
    border-bottom: 2px solid $colour-primary;
    color: $colour-primary;
    font-size: 2rem;
    font-family: inherit;
    transition: 0.3s all;
  }

}