.question {
  font-family: inherit;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  @include mq('sm') {
    font-size: 1.75rem;
  }

  @include mq('md') {
    font-size: 2rem;
  }

  @include mq('lg') {
    font-size: 2.5rem;
  }

  @include mq('xl') {
    font-size: 3rem;
  }

  &__colour {
    margin: 0 0.25rem;
    color: $colour-primary-light;
    font-style: italic;
  }

}