/* ============================================================
RESETS
============================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background: $colour-primary-dark;
  background: linear-gradient(180deg, $colour-primary-dark 0%, $colour-primary 80%);
  font-family: $font-primary;
  color: $colour-white;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}